<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
</head>
<body>
<div class="header">
    <img src="/images/logo.png" alt="HotProperties Logo" class="logo"/>
    <a th:href="@{/dashboard}" class="dashboard-link">&#8592; Dashboard</a>
</div>

<div class="container">
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>
    <h2>My Profile</h2>

    <div class="profile-container">
        <div class="profile-d">
            <strong>First Name:</strong> <span th:text="${user.firstName}">First Name</span>
        </div>
        <div class="profile-d">
            <strong>Last Name:</strong> <span th:text="${user.lastName}">Last Name</span>
        </div>
        <div class="profile-d">
            <strong>Email:</strong> <span th:text="${user.email}">Email</span>
        </div>
        <div class="profile-d">
            <strong>Role:</strong>
            <span th:each="role : ${user.roles}" th:text="${role.name.substring(5)}">ROLE</span>
        </div>
    </div>

    <div class="button">
        <a th:href="@{/users/profile/edit}" class="dashboard-link">Edit Profile</a>
        <a th:href="@{/dashboard}" class="dashboard-link">Back To Dashboard</a>
    </div>

</div>
</body>
</html>
